<div class="p-6 space-y-4   flex flex-col h-full">
  <div class="flex items-center justify-between">
    <div class="space-y-3">
      <div class="space-x-2">
        <span class="font-bold text-lg text-slate-500">Employee</span>
        <span class="font-bold text-sm text-slate-400">></span>
        <span class="font-bold text-primary-500 text-lg">Leaves</span>
      </div>
      <div class="space-y-2">
        <div class="font-bold text-3xl text-slate-900">Time Off</div>
        <div class="font-bold text-sm text-slate-500">Manage your personal and medical leave requests
        efficiently.</div>
      </div>
    </div>
    <button (click)="openApplyLeave(null)"
      class="px-4 p-2 bg-primary-600 shadow-lg border border-primary-600 rounded-lg text-white font-bold">
      <i class="fa fa-plus text-xs"></i>
    Request Time off</button>
  </div>

  <div class="p-1 px-2 bg-slate-200 w-fit space-x-2 rounded-md">
    <button (click)="selectedTab = 'overview'" class="p-2 rounded-md font-bold text-sm text-slate-500"
    [ngClass]="selectedTab == 'overview' ? 'bg-white text-slate-700': 'bg-slate-200'">Overview</button>
    <button (click)="selectedTab = 'leaveallocation'" class="p-2 rounded-md font-bold text-sm text-slate-500"
      [ngClass]="selectedTab == 'leaveallocation' ? 'bg-white text-slate-700': 'bg-slate-200'">Leave
    Allocations</button>
  </div>
  @if (selectedTab == 'leaveallocation') {
    <div class="flex flex-col min-h-0 ">
      <div class="rounded-lg border border-slate-100 shadow-sm shadow-slate-200 p-6 space-y-8 flex flex-col  min-h-0">
        <div>
          <div class="font-bold text-lg text-slate-900 tracking-tight">Leave Allocations</div>
          <div class="font-bold text-sm text-slate-400">Detailed breakdown of your leave entitlements and usage.
          </div>
        </div>
        <div class="min-h-0 flex-1 overflow-auto">
          <table class="w-full space-y-8 border border-slate-100 border-collapse">
            <tr
              class="text-left uppercase text-slate-500 tracking-wider text-[12px] border border-slate-100 sticky top-0 bg-slate-100">
              <th class="py-6 pl-3 w-20">Leave Type</th>
              <th class="w-20">Total Allowance</th>
              <th class="w-20">Used</th>
              <th class="w-20">Avialable</th>
              <th class="w-20">Utilization</th>
            </tr>
            @for (item of leaveTypes; track item) {
              <tr
                class="font-bold text-base text-slate-700 border border-slate-100">
                <td class="flex items-center gap-2 py-6 pl-3">
                  <div class="rounded-lg py-1 px-2" [ngClass]="getBgOfIcon(item)">
                    <i class="fa text-xs" [ngClass]="[item.icon,getStylesOfIcon(item)]"></i>
                  </div> {{item.leaveTypeName}}
                </td>
                <td class="py-6">{{item.totalAllowance}} &nbsp; Days</td>
                <td class="py-6">{{item.used}} &nbsp; Days</td>
                <td class="py-6">
                  <div class="border border-green-100 bg-green-100 w-fit p-1 rounded-md">{{item.remaining}}
                  &nbsp; Days</div>
                </td>
                <td class="py-6">
                  <div class="flex items-center gap-3">
                    <div class="h-2 flex-1 border border-slate-100 bg-slate-100 rounded-lg">
                      <div class="bg-primary-600 h-2  rounded-lg"
                      [style.width.%]="(item.used/item.totalAllowance) * 100"></div>
                    </div>
                    <div>{{(item.used/item.totalAllowance) * 100}} %</div>
                  </div>
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
    </div>
  }
  @if (selectedTab == 'overview') {
    <div class="flex flex-col min-h-0 ">
      <div class="rounded-lg border border-slate-100 shadow-sm shadow-slate-200 p-6 space-y-8 flex flex-col  min-h-0">
        <div>
          <div class="font-bold text-lg text-slate-900 tracking-tight">Applied Leaves</div>
          <div class="font-bold text-sm text-slate-400">Detailed breakdown of your leave application.
          </div>
        </div>
        <div class="min-h-0 flex-1 overflow-auto">
          <table class="w-full space-y-8 border border-slate-100 border-collapse">
            <tr
              class="text-left uppercase text-slate-500 tracking-wider text-[12px] border border-slate-100 sticky top-0 bg-slate-100">
              <th class="py-6 pl-3">Leave Type & Applied Date</th>
              <th>Date Range</th>
              <th>Duration</th>
              <th>Reason</th>
              <th>Status</th>
              <th>Approve/Reject</th>
              <th>Action</th>
            </tr>
            @for (item of leaves; track item) {
              <tr class="font-bold text-base text-slate-700 border border-slate-100">
                <td class="flex items-center gap-2 py-6 pl-3">
                  <div class="rounded-lg py-1 px-2" [ngClass]="getBgOfIcon(item)">
                    <i class="fa text-xs" [ngClass]="[item.icon,getStylesOfIcon(item)]"></i>
                  </div>
                  <div class="flex flex-col gap-1">
                    {{item.leaveTypeName}}
                    <div class="uppercase font-bold text-xs text-slate-400">Applied : {{item.createdDateTime
                    | date:'MMM d, yyyy'}} </div>
                  </div>
                </td>
                <td class="py-6 font-bold text-sm text-slate-700">{{item.dateFrom | date:'MMM d, yyyy'}} &nbsp;-
                &nbsp;{{item.dateTo | date:'MMM d, yyyy'}}</td>
                <td class="py-6">{{getDateDifference(item.dateFrom ,item.dateTo)}}</td>
                <td class="py-6">
                  <div class="p-1 font-bold text-xs text-slate-400 truncate">{{item.description}}
                  </div>
                </td>
                <td class="py-6">
                  <div class="flex items-center gap-3">
                    @if (item.isApproved === null) {
                      <div class="text-yellow-600 font-semibold">
                        Pending
                      </div>
                    }
                    @if (item.isApproved === true) {
                      <div class="text-green-600 font-semibold">
                        Approved
                      </div>
                    }
                    @if (item.isApproved === false) {
                      <div class="text-red-600 font-semibold">
                        Rejected
                      </div>
                    }
                  </div>
                </td>
                <td>
                  <div class="flex items-center justify-center gap-3">
                    <!-- Approve Button -->
                                <button (click)="approveRequest(item,true)" [disabled]="item.isApproved === true" class="w-9 h-9 rounded-xl flex items-center justify-center
                                    bg-emerald-500 text-white shadow-md shadow-emerald-500/30
                                    hover:bg-emerald-600 hover:scale-105
                                    disabled:bg-emerald-300 disabled:shadow-none
                                    disabled:cursor-not-allowed disabled:opacity-60
                                    transition-all duration-200" title="Approve">
                      <i class="fa fa-check text-xs"></i>
                    </button>
                    <!-- Reject Button -->
                                <button (click)="approveRequest(item,false)"  [disabled]="item.isApproved === null || item.isApproved === false" class="w-9 h-9 rounded-xl flex items-center justify-center
                                    bg-rose-500 text-white shadow-md shadow-rose-500/30
                                    hover:bg-rose-600 hover:scale-105
                                    disabled:bg-rose-300 disabled:shadow-none
                                    disabled:cursor-not-allowed disabled:opacity-60
                                    transition-all duration-200" title="Reject">
                      <i class="fa fa-times text-xs"></i>
                    </button>
                  </div>
                </td>
                <td>
                  <div class="flex items-center gap-2">
                    <button (click)="openApplyLeave(item)" class="text-slate-400 hover:text-primary-600">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button class="text-slate-400 hover:text-rose-600" (click)="deleteLeave(item)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
    </div>
  }
</div>
@if (isApplyLeave) {
  <div>
    <app-leave-form (popupClosed)="popupClosed($event)" [data]="data"></app-leave-form>
  </div>
}